<div class="title">
  <h2>Mahjong-like game</h2>
  <button mat-raised-button
          color="primary"
          *ngIf="!gameMode"
          (click)="onStart()">
    Start New Game
  </button>
  <button mat-raised-button
          color="accent"
          *ngIf="gameMode"
          (click)="onStop()"
          [class.hidden]="!isTimerStarted">
    Finish Game
  </button>
  <div class="timer-wrapper" [class.hidden]="!gameMode">
    <app-timer></app-timer>
  </div>
</div>
<div class="board-wrapper" *ngIf="gameMode">
  <app-board></app-board>
</div>
<div class="result-wrapper">
  {{resultMessage}}
</div>
